<ion-header>
  <ion-toolbar>
    <ion-title>
      Realizar Pedido
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div-animated" *ngIf="checkStep(1)">
    <ion-list lines="none" class="menu-list">
      <ion-list-header>
        <ion-title class="title-list">Menús disponibles</ion-title>
      </ion-list-header>
      <ion-item *ngFor="let menu of menus" (click)="menuChanged(menu._id)" class="menu-list-item">
        <ion-avatar slot="start">
          <img [src]="menu.img" />
        </ion-avatar>
        <ion-label>{{menu.name}}</ion-label>
        <ion-icon name="arrow-dropright"></ion-icon>
      </ion-item>
    </ion-list>
  </div>

  <div class="div-animated" *ngIf="checkStep(2)">
    <ion-img [src]="selectedMenu?.img"></ion-img>
    <ion-title padding class="title-menu">{{selectedMenu?.name}}</ion-title>

    <form [formGroup]="formMenu">

      <ion-grid *ngIf="selectedMenu?.isSalad">
        <ion-row class="ion-row-edited">
          <ion-col size="6" padding (click)="showIngredients()" [ngClass]="{'unselected': !displayIngredients}">
            <ion-title class="subtitle-menu">Ingredientes (5)</ion-title>
          </ion-col>
          <ion-col size="6" padding (click)="showSpecials()" [ngClass]="{'unselected': displayIngredients}">
            <ion-title class="subtitle-menu">Especiales (1)</ion-title>
          </ion-col>
          <ion-col size="12" *ngIf="displayIngredients">
            <ion-list class="scrollable-list">
              <ion-item *ngFor="let ingredient of ingredients">
                <ion-avatar class="avatar-list">
                  <img src="{{ingredient.img}}">
                </ion-avatar>
                <ion-label>{{ingredient.name}}</ion-label>
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="12" *ngIf="!displayIngredients">
            <ion-list class="scrollable-list">
              <ion-item *ngFor="let special of specials">
                <ion-avatar class="avatar-list">
                  <img src="{{special.img}}">
                </ion-avatar>
                <ion-label>{{special.name}}</ion-label>
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-list lines="none" *ngIf="!selectedMenu?.isSalad" class="menu-list">
        <ion-item *ngIf="selectedMenu?.type?.length > 0" class="menu-list-item">
          <ion-title><strong>Tipo:</strong></ion-title>
          <ion-select interface="popover" class="select" formControlName="type" (ionChange)="typeChanged()">
            <ion-select-option *ngFor="let type of selectedMenu.type" value="{{type._id}}">{{type.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="selectedMenu?.hasGarnish" class="menu-list-item">
          <ion-title><strong>Guarnición:</strong></ion-title>
          <ion-select interface="popover" class="select" formControlName="garnish" (ionChange)="garnishChanged()">
            <ion-select-option *ngFor="let garnish of garnishes" value="{{garnish._id}}">{{garnish.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="selectedMenu?.sauce?.length > 0" class="menu-list-item">
          <ion-title><strong>Salsa:</strong></ion-title>
          <ion-select interface="popover" class="select" formControlName="sauce" (ionChange)="sauceChanged()">
            <ion-select-option *ngFor="let sauce of selectedMenu?.sauce" value="{{sauce._id}}">{{sauce.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-grid *ngIf="!selectedMenu?.isSalad && selectedGarnish?.isSalad">
        <ion-row>
          <ion-col size="12" padding class="no-padding-bottom">
            <ion-title><strong>Ingredientes (3):</strong></ion-title>
          </ion-col>
          <ion-col size="12" *ngIf="displayIngredients">
            <ion-list class="scrollable-list">
              <ion-item *ngFor="let ingredient of ingredients">
                <ion-avatar class="avatar-list">
                  <img src="{{ingredient.img}}">
                </ion-avatar>
                <ion-label>{{ingredient.name}}</ion-label>
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>

    <div class="buttons-container">
      <ion-button (click)="prev()" class="button-left">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
      <ion-button (click)="next()" class="button-right" [disabled]="!formMenu.valid">
        <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
      </ion-button>
    </div>
  </div>

  <!-- <ion-item>
                      <ion-title><strong>Ubicación:</strong></ion-title>
                      <ion-select interface="popover" class="select" formControlName="location">
                        <ion-select-option *ngFor="let location of locations" value="{{location._id}}">{{location.name}}</ion-select-option>
                      </ion-select>
                    </ion-item>
                    <ion-item>
                      <ion-title><strong>Turno:</strong></ion-title>
                      <ion-select interface="popover" class="select" formControlName="turn">
                        <ion-select-option *ngFor="let turn of turns" value="{{turn._id}}">{{turn.name}}</ion-select-option>
                      </ion-select>
                    </ion-item> -->
</ion-content>