ion-content {
    --background: var(--back-color);
}
ion-row {
    background: white;    
}
ion-chip {
    background-color: white;
}
ion-button {
    color: rgba(0, 0, 0, 0.7);
    --background: white;
    --background-activated: white;
}
.avatar-list {
    margin-right: 4%;
}
.buttons-container {    
    padding-left: 4%;
    padding-right: 4%;
}
.button-left {
    float: left;
}
.button-right {
    float: right;
}
.div-animated {
    transition: all 0.5s ease-in-out;
}
.ion-row-edited {
    border-radius: 20px;
}
.menu-list-item {
    padding: 2%;
}
.menu-list {
    width: 100%;
    background-color: var(--back-color);
}
.no-padding-bottom {
    padding-bottom: 0;
}
.scrollable-list {
    height: 200px;
    overflow-y: scroll;
}
.select {
    max-width: none;
}
.subtitle-menu {
    text-align: center;
    font-size: 16px;
}
.title-list {
    padding-top: 2%;
    text-align: center;
    color: rgba(0, 0, 0, 0.75);
}
.title-menu {
    font-size: 24px;
}
.unselected {
    background: var(--back-color);
}