<ion-header>
  <ion-toolbar>
    <ion-title>
      Realizar Pedido
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div-animated" *ngIf="checkStep(1)">
    <app-menu-selection (selectMenu)="selectMenu($event)"></app-menu-selection>
    <!-- <ion-list lines="none" class="menu-list">
      <ion-list-header>
        <ion-title class="title-list">Menús disponibles</ion-title>
      </ion-list-header>
      <ion-item *ngFor="let menu of menus" (click)="menuChanged(menu._id)" class="menu-list-item">
        <ion-avatar slot="start">
          <img [src]="menu.img" />
        </ion-avatar>
        <ion-label>{{menu.name}}</ion-label>
        <ion-icon name="arrow-dropright"></ion-icon>
      </ion-item>
    </ion-list> -->
  </div>

  <div class="div-animated" *ngIf="checkStep(2)">
    <!-- <ion-img [src]="selectedMenu?.img"></ion-img>
    <ion-title padding class="title-menu">{{selectedMenu?.name}}</ion-title>

    <form [formGroup]="formMenu">

      <ion-grid *ngIf="selectedMenu?.isSalad">
        <ion-row class="ion-row-edited">
          <ion-col size="6" padding (click)="showIngredients()" [ngClass]="{'unselected': !displayIngredients}">
            <ion-title class="subtitle-menu">Ingredientes ({{ingredient?.value?.length}})</ion-title>
          </ion-col>
          <ion-col size="6" padding (click)="showSpecials()" [ngClass]="{'unselected': displayIngredients}">
            <ion-title class="subtitle-menu">Especiales ({{selectedSpecial ? 1 : 0}})</ion-title>
          </ion-col>
          <ion-col size="12" [ngClass]="{'hidden': !displayIngredients}">
            <ion-list class="scrollable-list">
              <ion-item *ngFor="let ingredient of ingredients">
                <ion-avatar class="avatar-list">
                  <img src="{{ingredient.img}}">
                </ion-avatar>
                <ion-label>{{ingredient.name}}</ion-label>
                <ion-checkbox slot="end" (ionChange)="checkOption(ingredient.name)"
                  [disabled]="checkState(ingredient.name,5)"></ion-checkbox>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="12" [ngClass]="{'hidden': displayIngredients}">
            <ion-list class="scrollable-list">
              <ion-item *ngFor="let special of specials">
                <ion-avatar class="avatar-list">
                  <img src="{{special.img}}">
                </ion-avatar>
                <ion-label>{{special.name}}</ion-label>
                <ion-checkbox slot="end" (ionChange)="checkSpecial(special.name)"
                  [disabled]="selectedSpecial && selectedSpecial != special.name"></ion-checkbox>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-list lines="none" *ngIf="!selectedMenu?.isSalad" class="menu-list">
        <ion-item *ngIf="selectedMenu?.type?.length > 0" class="menu-list-item">
          <ion-title><strong>Tipo:</strong></ion-title>
          <ion-select interface="popover" class="select" formControlName="type" (ionChange)="typeChanged()">
            <ion-select-option *ngFor="let type of selectedMenu.type" value="{{type._id}}">{{type.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="selectedMenu?.hasGarnish" class="menu-list-item">
          <ion-title><strong>Guarnición:</strong></ion-title>
          <ion-select interface="popover" class="select" formControlName="garnish" (ionChange)="garnishChanged()">
            <ion-select-option *ngFor="let garnish of garnishes" value="{{garnish._id}}">{{garnish.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="selectedMenu?.sauce?.length > 0" class="menu-list-item">
          <ion-title><strong>Salsa:</strong></ion-title>
          <ion-select interface="popover" class="select" formControlName="sauce" (ionChange)="sauceChanged()">
            <ion-select-option *ngFor="let sauce of selectedMenu?.sauce" value="{{sauce._id}}">{{sauce.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-grid *ngIf="!selectedMenu?.isSalad && selectedGarnish?.isSalad">
        <ion-row>
          <ion-col size="12" padding class="no-padding-bottom">
            <ion-title><strong>Ingredientes ({{ingredient?.value?.length}}):</strong></ion-title>
          </ion-col>
          <ion-col size="12">
            <ion-list class="scrollable-list">
              <ion-item *ngFor="let ingredient of ingredients">
                <ion-avatar class="avatar-list">
                  <img src="{{ingredient.img}}">
                </ion-avatar>
                <ion-label>{{ingredient.name}}</ion-label>
                <ion-checkbox slot="end" (ionChange)="checkOption(ingredient.name)"
                  [disabled]="checkState(ingredient.name,3)"></ion-checkbox>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
    <div class="buttons-container">
      <ion-button (click)="prev()" class="button-left">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
      <ion-button (click)="next()" class="button-right" [disabled]="!formMenu.valid">
        <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
      </ion-button>
    </div> -->
    <app-order-data [selectedMenu]="selectedMenu" (prevPage)="prev()" (confirmForm)="orderData($event)"></app-order-data>
  </div>

  <div *ngIf="checkStep(3)">
    <app-additional-info (prevPage)="prev()" (confirmForm)="additionalInfo($event)"></app-additional-info>
  </div>

</ion-content>