.select {
    max-width: none;
}
.title-form {
    padding-left: 0;
}
ion-list {
    width: 100%;
}
.second-slide {
    display: inline;
}
.buttons-container {    
    padding-left: 4%;
    padding-right: 4%;
}
.button-left {
    float: left;
}
.button-right {
    float: right;
}
.no-padding {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;    
}
.swiper-wrapper {
    height: auto;
}