<ion-header type="ios">
  <ion-toolbar>
    <ion-title>
      Realizar Pedido
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon color="danger" slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >

  <ion-slides pager="false" [options]="{allowTouchMove: false }" #slides>

    <ion-slide mode="ios">
      <ion-list mode="ios">
        <ion-item *ngFor="let menu of menus" (click)="menuChanged(menu._id)">
          <ion-thumbnail slot="start">
            <ion-img [src]="menu.img"></ion-img>
          </ion-thumbnail>
          <ion-label>{{menu.name}}</ion-label>
          <ion-icon name="arrow-dropright"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-slide>

    <ion-slide mode="ios" class="second-slide">
      <!-- <div style="height: 100%"> -->
        <ion-card mode="ios">
          <ion-card-header class="no-padding">
            <ion-img src="{{selectedMenu?.img}}"></ion-img>
          </ion-card-header>
          <ion-card-content>
              <form [formGroup]="formMenu">
                  <ion-list mode="ios" lines="full">
                    <!-- <ion-item>
                      <ion-title><strong>Menu:</strong></ion-title>
                      <ion-select interface="popover" class="select" formControlName="menu" (ionChange)="menuChanged()">
                        <ion-select-option *ngFor="let menu of menus" value="{{menu._id}}">{{menu.name}}</ion-select-option>
                      </ion-select>
                    </ion-item> -->
                    <ion-item *ngIf="selectedMenu?.type?.length > 0">
                      <ion-title><strong>Tipo:</strong></ion-title>
                      <ion-select interface="popover" class="select" formControlName="type">
                        <ion-select-option *ngFor="let type of selectedMenu.type" value="{{type._id}}">{{type.name}}</ion-select-option>
                      </ion-select>
                    </ion-item>
                    <ion-item *ngIf="selectedMenu?.hasGarnish">
                      <ion-title><strong>Guarnición:</strong></ion-title>
                      <ion-select interface="popover" class="select" formControlName="garnish" (ionChange)="garnishChanged()">
                        <ion-select-option *ngFor="let garnish of garnishes" value="{{garnish._id}}">{{garnish.name}}</ion-select-option>
                      </ion-select>
                    </ion-item>
                    <ion-item *ngIf="selectedGarnish?.isSalad">
                      <ion-title><strong>Ingredientes:</strong></ion-title>
                      <ion-select multiple="true" class="select" formControlName="ingredient" (ionChange)="garnishIngredientsChanged()">
                        <ion-select-option *ngFor="let ingredient of ingredients" value="{{ingredient._id}}">{{ingredient.name}}</ion-select-option>
                      </ion-select>
                    </ion-item>
                    <!-- <ion-item>
                      <ion-title><strong>Ubicación:</strong></ion-title>
                      <ion-select interface="popover" class="select" formControlName="location">
                        <ion-select-option *ngFor="let location of locations" value="{{location._id}}">{{location.name}}</ion-select-option>
                      </ion-select>
                    </ion-item>
                    <ion-item>
                      <ion-title><strong>Turno:</strong></ion-title>
                      <ion-select interface="popover" class="select" formControlName="turn">
                        <ion-select-option *ngFor="let turn of turns" value="{{turn._id}}">{{turn.name}}</ion-select-option>
                      </ion-select>
                    </ion-item> -->
                  </ion-list>
                </form>
          </ion-card-content>
        </ion-card>
      <!-- </div> -->

      <div class="buttons-container">
        <ion-button (click)="prev()" class="button-left" mode="ios">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>


        <ion-button (click)="next()" class="button-right" mode="ios">
          <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
        </ion-button>
      </div>
      <!-- <ion-buttons slot="start">
        <ion-button (click)="prev()">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="next()">
          <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
        </ion-button>
      </ion-buttons> -->
    </ion-slide>

  </ion-slides>


  <!-- <form [formGroup]="formMenu">
    <ion-list mode="ios" lines="full">
      <ion-item>
        <ion-title><strong>Menu:</strong></ion-title>
        <ion-select interface="popover" class="select" formControlName="menu" (ionChange)="menuChanged()">
          <ion-select-option *ngFor="let menu of menus" value="{{menu._id}}">{{menu.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="selectedMenu?.type?.length > 0">
        <ion-title><strong>Tipo:</strong></ion-title>
        <ion-select interface="popover" class="select" formControlName="type">
          <ion-select-option *ngFor="let type of selectedMenu.type" value="{{type._id}}">{{type.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="selectedMenu?.hasGarnish">
        <ion-title><strong>Guarnición:</strong></ion-title>
        <ion-select interface="popover" class="select" formControlName="garnish" (ionChange)="garnishChanged()">
          <ion-select-option *ngFor="let garnish of garnishes" value="{{garnish._id}}">{{garnish.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="selectedGarnish?.isSalad">
        <ion-title><strong>Ingredientes:</strong></ion-title>
        <ion-select multiple="true" class="select" formControlName="ingredient" (ionChange)="garnishIngredientsChanged()">
          <ion-select-option *ngFor="let ingredient of ingredients" value="{{ingredient._id}}">{{ingredient.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-title><strong>Ubicación:</strong></ion-title>
        <ion-select interface="popover" class="select" formControlName="location">
          <ion-select-option *ngFor="let location of locations" value="{{location._id}}">{{location.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-title><strong>Turno:</strong></ion-title>
        <ion-select interface="popover" class="select" formControlName="turn">
          <ion-select-option *ngFor="let turn of turns" value="{{turn._id}}">{{turn.name}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </form> -->
</ion-content>

<ion-footer class="footer">
  <p>
    Copyright © 2019 MS Technologies SA. Todos los derechos reservados.
  </p>
</ion-footer>