ion-content {
    --background: var(--back-color);
}
ion-list {
    width: 100%;
    background-color: var(--back-color);
}
ion-item {
    padding: 2%;
}
ion-button {
    color: rgba(0, 0, 0, 0.7);
    --background: white;
    --background-activated: white;
}
.edited-slide {
    width: 50%;
}
.div-animated {
    transition: all 0.5s ease-in-out;
}
.select {
    max-width: none;
}
.title-form {
    padding-left: 0;
}
.title-list {
    padding-top: 2%;
    text-align: center;
    color: rgba(0, 0, 0, 0.75);
}
.list-ios {
    margin-bottom: 0;
}
.second-slide {
    display: inline;
}
.buttons-container {    
    padding-left: 4%;
    padding-right: 4%;
}
.button-left {
    float: left;
}
.button-right {
    float: right;
}
.no-padding {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;    
}