.logo-img {
    width: 70%;
    height: 50%;
    margin-top: 5%;
}
.back-login {
    background: var(--ion-color-primary);
    height: 35%;
    display: flex;    
    justify-content: center;
}
.back-form {
    width: 90%;
    height: 65%;
    margin: auto;  
}
.edited-form {
    position: absolute;
    width: 90%;
    top: 0;
    margin-top: 6vh;
}
.edited-ion-item {
    --background: rgba(0,0,0,0);
    --border-bottom: 3px solid #1b1b1b;
    color: black;
}
.user-ion-item {
    margin-top: 5%;
    margin-bottom: 7%;
}
.pass-ion-item {
    margin-top: 7%;
    margin-bottom: 7%;
}
.edited-icon {
    margin-right: 5%;
    font-size: 30px;
    color: black;    
}
.title-form {    
    margin-bottom: 2%;
    font-size: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title-form p {
    font-size: 50px;
    margin: 0;
    font-family: 'Cookie', cursive;
    margin-bottom: 2%;
    margin-left: 2%;
}
.login-form {
    background-color: rgba(255, 255, 255, 1);
    margin: auto;
    padding: 2%;
    box-shadow: 2px 3px 6px 0px black;
    border-radius: 20px;
}
.login-button-container {
    text-align: center;
    margin-top: 10%;
}
.button-login {    
    --background: var(--ion-color-primary);    
    --border-radius: 40px;
    width: 65%;
    font-size: 20px;
}
.footer-container {
    bottom: 0;
    position: absolute;    
    width: 100%;
    margin: auto;
}
.footer {
    color: black;    
}