<ion-content padding>
  <form [formGroup]="loginForm" style="height: 98%">
    <ion-grid style="height: 100%">
      <ion-row style="height: 100%" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12" class="login-form">
          <h1 class="title-form">OrderFood</h1>
          <div padding>
            <ion-item class="ion-margin-bottom">
              <ion-icon name="contact"></ion-icon>
              <ion-input name="usuario" type="text" placeholder="Usuario" formControlName="username"></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon name="lock"></ion-icon>
              <ion-input name="password" type="password" placeholder="Contraseña" formControlName="password">
              </ion-input>
            </ion-item>
          </div>
          <div padding  class="login-buttons">
            <ion-button size="large" type="submit" [disabled]="!loginForm.valid" (click)="loginFingerpint()" expand="block">
              Ingresar</ion-button>
            <!-- <ion-icon (click)="loginFingerpint()" name="finger-print" class="login-fingerprint"></ion-icon> -->            
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <p class="footer" style="color: black;">
    Copyright © 2019. Todos los derechos reservados.
  </p>
</ion-content>