<ion-content>
  <div class="back-login">
  </div>
  <div class="back-form">
    <form [formGroup]="loginForm">
      <div class="login-title">
        <span class="title-form">
          <ion-icon name="pizza"></ion-icon>
          <!-- <ion-icon name="ice-cream"></ion-icon>          
          <ion-icon name="done-all"></ion-icon>           -->
        </span>
        <span class="title-form">
          <p> FoodApp </p>
          <!-- <ion-icon name="checkmark-circle-outline"></ion-icon> -->
        </span>
      </div>
      <div class="login-form">
        <ion-item class="edited-ion-item user-ion-item">
          <ion-icon name="contact" class="edited-icon"></ion-icon>
          <ion-input name="usuario" type="text" placeholder="Usuario" formControlName="username"></ion-input>
        </ion-item>
        <ion-item class="edited-ion-item pass-ion-item">
          <ion-icon name="lock" class="edited-icon"></ion-icon>
          <ion-input name="password" type="password" placeholder="Contraseña" formControlName="password">
          </ion-input>
        </ion-item>
      </div>
      <div class="login-button-container">
        <ion-button type="submit" [disabled]="!loginForm.valid" (click)="loginFingerpint()" class="button-login">
          Ingresar</ion-button>
      </div>
    </form>
  </div>
  <div class="footer-container">
    <p class="footer">
      Copyright © 2019. Todos los derechos reservados.
    </p>
  </div>
</ion-content>