<ion-header>
  <ion-toolbar>
    <ion-title>
      Mi Pedido
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/img/banner.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle class="card-title">Solicite su almuerzo de manera fácil y rápida</ion-card-subtitle>
      <ion-card-title class="card-title">Aplicación de Almuerzos</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-list lines="none" *ngIf="ordered">
    <ion-list-header>
      <ion-label>Su Pedido</ion-label>
    </ion-list-header>
    <ion-item href="https://ionicframework.com/docs/building/scaffolding">
      <ion-icon slot="start" color="medium" name="build"></ion-icon>
      <ion-label>Scaffold Out Your App</ion-label>
    </ion-item>
    <ion-item href="https://ionicframework.com/docs/layout/structure">
      <ion-icon slot="start" color="medium" name="grid"></ion-icon>
      <ion-label>Change Your App Layout</ion-label>
    </ion-item>
    <ion-item href="https://ionicframework.com/docs/theming/basics">
      <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
      <ion-label>Theme Your App</ion-label>
    </ion-item>
  </ion-list>
  <ion-list lines="none" *ngIf="!ordered">
    <ion-list-header>
      <ion-note color="danger" class="alert-message">Aún no realizó su pedido, recuerde que tiene tiempo hasta las
        11:00hs.</ion-note>
    </ion-list-header>
  </ion-list>
</ion-content>