.welcome-card ion-img {
    max-height: 35vh;
    overflow: hidden;
  }
  .card-subtitle {
    font-style: italic;
    margin-bottom: 2.5%;
    text-align: center;
  }
  .card-title {
    text-align: center;
  }