ion-list-header {
  // background-color: var(--principal-color);
  // color: rgba(0,0,0,0.7);
}
.order-title {
  font-size: 17px;
  font-style: italic;
}
.edited-icon {
  // color: var(--principal-color);
  width: 40px;
  height: 40px;
}
.edited-thumbnail {
  width: 40px;
  height: 40px;
  margin-left: 3%;
  margin-right: 7%;
}
.alert-message-container {
  text-align: center;
}
.alert-message {  
  margin-top: 2%;
  font-size: 15px;
}
.text-no-elipsis {
  white-space: normal;
}