<ion-header translucent="true" type="ios">
  <ion-toolbar>
    <ion-title>
      Mi Pedido
    </ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon color="danger" slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-grid style="height: 100%" *ngIf="!order">
    <ion-row style="height: 100%" justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12" class="alert-message-container">
        <ion-note color="danger" class="alert-message">
          Aún no realizó su pedido, recuerde que tiene tiempo hasta las 11:00hs
        </ion-note>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list mode="ios" lines="full" *ngIf="order">
    <ion-list-header type="ios">
      <ion-label>
        <h2>Detalles del pedido</h2>
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-thumbnail slot="start" class="edited-thumbnail">
        <ion-icon class="edited-icon" name="pin"></ion-icon>
      </ion-thumbnail>
      <ion-label>
        <h3>Ubicación</h3>
        <p class="text-no-elipsis">{{this.order?.location.name}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start" class="edited-thumbnail">
        <ion-icon class="edited-icon" name="time"></ion-icon>
      </ion-thumbnail>
      <ion-label>
        <h3>Turno</h3>
        <p class="text-no-elipsis">{{this.order?.turn.name}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="{{this.order?.menu.img}}">
      </ion-thumbnail>
      <ion-label>
        <h3>Plato principal</h3>
        <p class="text-no-elipsis">{{this.order?.menu.name}}: {{this.order?.mainCourse.type}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="{{this.order?.garnish[0]?.img}}">
      </ion-thumbnail>
      <ion-label>
        <h3>Guarnición</h3>
        <p class="text-no-elipsis">{{this.order?.garnish[0]?.name}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>Observaciones</h3>
        <p class="text-no-elipsis">{{this.order?.note}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<!-- <ion-footer class="footer">
  <p>
    Copyright © 2019 MS Technologies SA. Todos los derechos reservados.
  </p>
</ion-footer> -->