<ion-header color="primary" type="ios">
  <ion-toolbar>
    <ion-title>
      Principal
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/img/menu-del-dia.jpg"></ion-img>
    <ion-card-header mode="ios">
      <ion-card-subtitle class="card-subtitle" mode="ios">
        <!-- Solicite su almuerzo de manera fácil y rápida -->
        Hamburguesas napolitanas con ensalada mixta
      </ion-card-subtitle>
      <!-- <ion-card-title class="card-title">
        Menú del Día
      </ion-card-title> -->
    </ion-card-header>
  </ion-card>
</ion-content>

<ion-footer class="footer">
  <p>    
      Copyright © 2019 MS Technologies SA. Todos los derechos reservados.    
  </p>
</ion-footer>