<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Principal</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="my-order">
      <ion-icon name="pizza"></ion-icon>
      <ion-label>Mi Pedido</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="make-order">
      <ion-icon name="checkmark-circle-outline"></ion-icon>
      <ion-label>Realizar Pedido</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Opciones</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
<div id="ion-alert-controller"></div>